html {
	overflow-x: hidden;
}

body {
	background-color: #0b0b0c;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
a,
p {
	color: white !important;
}

.navbar-brand {
	font-weight: 700;
	font-size: 1.8rem;
}

.navbar-brand span {
	font-weight: 500;
}

.search-box {
	background-color: #2c2e32;
	border-color: #2c2e32;
}

.box {
	background-color: #151515;
	border-radius: 10px;
}

.box h2 {
	opacity: 0.4;
	font-size: 0.95rem;
	font-weight: 600;
}

.box ul {
	list-style-type: none;
	padding: 0;
}

.box button {
	background: none;
	border: none;
	color: white;
	font-weight: 600;
	font-size: 0.9rem;
}

.active {
	background-color: #4b4b4b !important;
	border-radius: 8px;
	padding-right: 20px;
}

.results-text {
	font-weight: 700;
	font-size: 1.8rem;
}

.comic-info img {
	width: 12rem;
	height: 15rem;
	border-radius: 10px 10px 0 0;
}

.comic-info {
	background-color: #151515;
	border-radius: 10px;
	width: 12rem;
}

.comic-info h1 {
	font-weight: 800;
	font-size: 1rem;
}

.comic-info h2 {
	font-weight: 500;
	font-size: 0.8rem;
}
